extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Title
        h1 #{title}

        //- Description.
        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Dynamically add technologies used in each project.
        ul
          each technology in technologies
            li= technology

        //- Links to the repo and live version of each project.
        a.button.expanded(href=`https://kayacv.github.io/${live}` target="_blank") Live Demo
        a.button.expanded(href=`https://github.com/kayaCV/${github}` target="_blank") GitHub Repo
    
    //- Project images
    
    img.image(src=`/static/images/${images[1]}.png`)
    img.image(src=`/static/images/${images[2]}.png`)
    img.image(src=`/static/images/${images[3]}.png`)